root = true

[*]
end_of_line = LF
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.txt]
indent_style = none
indent_size = none
trim_trailing_whitespace = false
insert_final_newline = false

[Dockerfile]
indent_size = 4

[.devcontainer/*.json]
indent_size = 4
